<header>
    <div class="header--left hidden">
        <i class="fas fa-bars"></i>
    </div>
    <a href="#landing" class="header--image">
        <img src="/images/0xdead.png" alt="">
    </a>
    <div class="header--right menu-icon">
        <i class="fas fa-bars"></i>
    </div>
    <div class="header--right menu">
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Crimes</a>
            </li>
            <li>
                <a href="">Reports</a>
            </li>
            <li>
                <a href="">Members</a>
            </li>
        </ul>
    </div>
</header>